.App {
  text-align: center;
}

.App-logo {
  height: 4em;
  pointer-events: none;
  position: absolute;
  top: 24px;
  left: 13px;
}

/* This will spin the logo */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: lightslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid 1px red;
}

.App-link {
  color: #61dafb;
}


/* For spinning the logo */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.github-link {
  position: absolute;
  top: 24px;
  right: 30px;
  font-size: 2.5rem;
  
}

a{
  color:inherit;
}

a:hover{
  color: red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: red;
    background-color: red;
  }
  a:hover {
    color: red;
  }
  button {
    background-color: red;
  }
}

table{
  /* position: absolute;
  left:0px; */
  border: 1px solid black;
  padding: none;
  margin: 0%;
  overflow: auto;
  height: 2em;
}
th{
  font-size: 12px;
  border: 1px solid black;
}


td,tr{
  font-size: 12px;
  border: 1px solid black;
}
